node_modules/
dist/
build/
.next/
coverage/
*.tsbuildinfo

.env
.env.local
.env.*.local
!.env.example

storage/
!storage/.gitkeep
*.log
logs/

apps/api/src/generated/
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# خروجی ساخت اسکریپت‌های Seed
apps/api/dist-seed
apps/api/tsconfig.seed.tsbuildinfo
